<div class="auth-container">
    <div class="auth-content p-3 p-md-5">
        <app-auth-header></app-auth-header>
        <div class="col-md-4 offset-md-4 justify-content-center">
            <div class="">
                <form [formGroup]="loginForm" class="pt-5 text-start">
                    <div *ngIf="submited && loginForm.invalid" class="alert alert-danger rounded-0" role="alert">
                        Erreur, accès non autorisé. Votre identifiant ou votre mot de passe est incorrect
                    </div>
                    <div *ngIf="submited && !loginForm.invalid" class="alert alert-success rounded-0" role="alert">
                        Félicitation, vous avez réussi à vous connecter avec succès à votre compte hautement sécurisé privé.
                    </div>
                    <div class="form-group">
                        <label for="identifiant">Identifiant de l'utilisateur</label>
                        <input class="form-control rounded-0" type="text" formControlName="identifiant" id="identifiant" placeholder="Votre identifiant">
                    </div>
                    <div class="form-group pt-3">
                        <label for="password">Mot de passe</label>
                        <input class="form-control rounded-0" type="password" formControlName="password" id="password" placeholder="Votre mot de passe ici">
                    </div>
                    <div class="form-group pt-3">            
                        <button class="btn btn-primary w-100 my-3 m-0" [disabled]="submited" (click)="onSubmit()">Se déconnecter</button>
                    </div>
                </form>
            </div>
            <span><u>Problèmes de connexion ? <a href=""> cliquez ici !</a></u></span>
        </div>
        <div class="col-md-8 offset-md-2">
            <p class="legal-botom">Vous entrez dans un système sécurisé de la délégation générale à la sûreté nationale (DGSN) du Cameroun qui ne peut être 
                utilisé qu'a des fins autorisées. la modification de toute information sur ce système est possible de poursuite pénale. 
                La DGSN surveille toutes les utilisations de ce système. toutes les personnes sont informées que l'utilisation de ce système 
                constitue un concentré à une telle surveillance et à une telle audition.
            </p>
            <hr>
        </div>
    </div>
</div>