<div class="nav-right">
    <ul class="nav-menus">
        <li class="notification-nav">
            <div class="notification_wrapper">
                <div class="current_lang">
                  <div class="mx-3">
                    <i class="fa fa-bell"></i>
                    <span class="badge bg-danger badge-dot active"></span>
                  </div>
                </div>
            </div>
        </li>
        <li class="message-nav">
            <div class="message_wrapper">
                <div class="mx-3">
                    <i class="fa fa-envelope"></i>
                    <span class="badge bg-danger badge-dot active"></span>
                </div>
            </div>
        </li>
        <li class="setting-nav">
            <div class="setting_wrapper">
                <div class="mx-3">
                    <i class="fa fa-cog"></i>
                    <span class="badge bg-danger badge-dot active"></span>
                </div>
            </div>
        </li>
        <li class="language-nav">
            <div class="translate_wrapper">
                <div class="current_lang">
                  <div class="mx-3">
                    <i class="fa fa-language"></i>
                    <span class="badge bg-danger badge-dot active"></span>
                  </div>
                </div>
            </div>
        </li>
        <li class="profile-nav">
            <div class="profile_wrapper">
                <div class="mx-3">
                    <img class="rounded-circle" src="assets/images/avatar_atango_k.png" alt="">
                    <span class="badge bg-danger badge-dot active"></span>
                </div>
            </div>
        </li>
    </ul>
</div>