<div class="nav-right">
    <ul class="nav-menus">
        <li class="language-nav">
            <div class="translate_wrapper">
                <div class="current_lang">
                  <div class="mx-3">
                    <i class="fa fa-bell fa-2x"></i>
                    <span class="badge bg-danger badge-dot"></span>
                  </div>
                </div>
              </div>
        </li>
        <li class="onhover-dropdown mr-2">
          <!-- <app-notification></app-notification> -->
        </li>
        <li class="profile-nav onhover-dropdown p-0">
          <!-- <app-my-account></app-my-account> -->
        </li>
      </ul>
</div>