<div class="row text-center">
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                <h6></h6>
                <i class="fa fa-ellipsis-v"></i>
            </div>
            <div class="card-body">
                <h1>2830</h1>
                <p>Total Users</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                <h6></h6>
                <i class="fa fa-ellipsis-v"></i>
            </div>
            <div class="card-body">
                <h1>2830</h1>
                <p>Total Users</p>
            </div>
        </div>
    </div><div class="col-md-3">
        <div class="card">
            <div class="header">
                <h6></h6>
                <i class="fa fa-ellipsis-v"></i>
            </div>
            <div class="card-body">
                <h1>2830</h1>
                <p>Total Users</p>
            </div>
        </div>
    </div><div class="col-md-3">
        <div class="card">
            <div class="header">
                <h6></h6>
                <i class="fa fa-ellipsis-v"></i>
            </div>
            <div class="card-body">
                <h1>2830</h1>
                <p>Total Users</p>
            </div>
        </div>
    </div>
</div>