<div class="row align-items-center mb-5">
    <div class="col-md-8">
        <div class="card card-b-left">
            <div class="header">
                <h6></h6>
                <i class="fa fa-times-circle-o"></i>
            </div>
            <div class="card-body pt-0">
                <h4>Welcome to SPARTAN</h4>
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-inline-block">
        <h4>Things you can do</h4>
        <div class="welcome-actions">
            <i class="fa fa-plus text-success"></i>
            <span>Add a Requisition</span>     
        </div>
        <div class="welcome-actions">
            <i class="fa fa-plus text-success"></i>
            <span>Add new Track.Locate</span>     
        </div>
        <div class="welcome-actions">
            <i class="fa fa-plus text-success"></i>
            <span>Add Data Recovery</span>     
        </div>
        <div class="welcome-actions">
            <i class="fa fa-plus text-success"></i>
            <span>Add Image/facial</span>     
        </div>
    </div>
</div>