<ul>
    <li>
        <a href="#" class="active">
            <span class="icon"><i class="fa fa-th-large"></i></span>
            <span class="item">Dsshboard</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon"><i class="fa fa-gavel"></i></span>
            <span class="item">Requisition</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon"><i class="fa fa-compass "></i></span>
            <span class="item">Track. Analyse. Geolocate</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon"><i class="fa fa-rotate-right"></i></span>
            <span class="item">Recovera</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon"><i class="fa fa-mobile"></i></span>
            <span class="item">Picasso</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon"><i class="fa fa-book"></i></span>
            <span class="item">Reports</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon"><i class="fa fa-users"></i></span>
            <span class="item">Users</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon"><i class="fa fa-cog"></i></span>
            <span class="item">Settings</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon"><i class="fa fa-sign-out"></i></span>
            <span class="item">Logout</span>
        </a>
    </li>
</ul>