<div class="auth-container">
    <div class="auth-content d-flex align-items-center">
        <div class="card col-md-6 offset-md-3 justify-content-center pt-5">
            <div class="col-md-8 offset-md-2 d-flex justify-content-between">
                <img src="assets/images/logo.png" alt="Logo">
                <h1>SPARTAN</h1>
                <img src="assets/images/logo_sn.png" alt="SN">
            </div>
            <div class="col-md-6 offset-md-3 justify-content-center">
                <span>un système de gestion de renseignements criminels et d'analyse de données</span>
            </div>
            <div class="p-3 p-md-5">
                <h3 class="text-primary mt-5">Welcome / Bienvenue</h3>
                <p>Choose your preferred language / Choisissez votre langue</p>
                <div class="select mt-5">
                    <select name="language" id="lang">
                        <option value="fr">Français</option>
                        <option value="en">English</option>
                    </select>
                
                </div>
            </div>
        </div>
    </div>
</div>